In [2]:
import pandas as pd

# Muat dataset
df = pd.read_csv("jobstreet_jobs_cleaned_with_category.csv", on_bad_lines='skip')

# Tampilkan informasi dataset
print(df.info())
print(df.describe())
print(df["Gaji"].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3200 entries, 0 to 3199
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Kategori Lowongan   3200 non-null   object
 1   Pekerjaan Lowongan  3200 non-null   object
 2   Title               3200 non-null   object
 3   Posisi              3200 non-null   object
 4   Gaji                3200 non-null   object
 5   Gaji Min            1200 non-null   float64
 6   Gaji Max            1200 non-null   float64
 7   Kualifikasi         3200 non-null   object
 8   Tahun Pengalaman    52 non-null     float64
 9   Umur                42 non-null     float64
 10  Pendidikan          120 non-null    object
 11  Skill               378 non-null    object
 12  Link                3200 non-null   object
dtypes: float64(4), object(9)
memory usage: 325.1+ KB
None
           Gaji Min      Gaji Max  Tahun Pengalaman       Umur
count  1.200000e+03  1.200000e+03         52.000000  42.000000
mean   6.673046e+06  8.715162e+06          2.980769  31.119048
std    9.567067e+06  1.270981e+07          4.036551   6.477738
min    4.000000e+02  6.000000e+02          1.000000   3.000000
25%    4.000000e+06  5.500000e+06          1.000000  28.000000
50%    5.400000e+06  7.000000e+06          2.000000  30.000000
75%    7.000000e+06  9.000000e+06          3.000000  35.000000
max    3.000000e+08  4.000000e+08         24.000000  45.000000
Gaji
Tidak dicantumkan                        1997
Rp 5.000.000 – Rp 6.000.000 per month      50
Rp 6.000.000 – Rp 8.000.000 per month      43
Rp 5.000.000 – Rp 7.000.000 per month      43
Rp 4.000.000 – Rp 6.000.000 per month      42
                                         ...
Rp 3.700.000 – Rp 5.000.000 per month       1
Rp 5.600.000 – Rp 6.000.000 per month       1
Rp 5.000.000 – Rp 5.600.000 per month       1
Rp 4.100.000 – Rp 4.700.000 per month       1
Rp 7.500.000 – Rp 8.500.000 per month       1
Name: count, Length: 360, dtype: int64

In [4]:
import pandas as pd
import numpy as np
import re
from sklearn.feature_extraction.text import TfidfVectorizer

# Fungsi ekstrak gaji
def extract_salary(salary_str):
    if salary_str == "Tidak dicantumkan" or pd.isna(salary_str):
        return np.nan
    numbers = re.findall(r'\d+', salary_str.replace('.', ''))
    return int(numbers[0]), int(numbers[1])

# Proses kolom gaji
df[["Gaji Min", "Gaji Max"]] = df["Gaji"].apply(
    lambda x: pd.Series(extract_salary(x))
)
df["Mid Salary"] = df[["Min Salary", "Max Salary"]].mean(axis=1)

df_train = df.dropna(subset=["Mid Salary"])

df_train = pd.get_dummies(df_train, columns=["Category", "Subcategory"])

tfidf = TfidfVectorizer(stop_words="english")
X_tfidf = tfidf.fit_transform(df_train["Job Description"])

IndexError: list index out of range